language: bash
dist: trusty
os:
- linux
- osx
env:
  matrix:
  - submodules=""
  - submodules="External/lapack External/libwfa"

git:
  submodules: false
addons:
  apt:
    packages:
    - gfortran
    - python3-pip

install:
- |
  if [ ${TRAVIS_OS_NAME} = 'osx' ] ; then
    brew update
    brew install gcc
    brew link --overwrite gcc
    brew upgrade python
  fi
- pip3 install --upgrade pyparsing

before_script:
- |
  if [ -z "${submodules}" ] ; then export submodules="External/lapack" ; fi
  for s in ${submodules} ; do
    git submodule update --init ${s}
  done

script:
- mkdir build
- cd build
- cmake ..
- make
- pymolcas verify 000

after_failure:
- |
  for i in test/failed/*out ; do
    cat $i ${i/%out/err}
  done
